body {
	background-color: #D3FDD7;
	font-family: Helvetica;
}

h1{

	text-align: center;
	font-family: "Serif";
	font-size: 60px;
	color: #FA7268;


}

.button {
	font-size: 15pt;
	text-decoration: underline;
	background-color: #FFC0CB;
	color: #FA7268;
	border: none;
	display: inline-block;
	text-align: center;

}
#warning{
	font-size: 10pt;
	text-align: center;
}

.buttonParagraph{
	margin: 10px;
	text-align: center;

}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#vinnie{
	float:left;
	width: 300px;

}

.aboutBody{
	font-weight: bold;
	font-size: 18px;
}

#VinnieText{
	text-align: center;
	color: #FA7268;
	font-size: 30px;
}

#droid{
	float: right;
	width: 350px;
}

#aboutButton{
	width: 0px;
	height: 0px;
}

#aboutButtonButton{
	font-size: 30pt;
	text-decoration: underline;
	background-color: #FFC0CB;
	color: #FA7268;
	border: none;
	display: inline-block;
	text-align: center;
}

#DroidText{
	color: #FA7268;
	text-align: center ;
	font-size: 30px;
}

.DroidBody{
	font-weight: bold;
	font-size: 18px;
 	text-align: left;
}