.dice{
    display:block;
    width:15rem;
    height:15rem;
    /* border:1px solid red; */
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin:.2em;
    background-position:center;
}

.dice:hover{
    cursor: pointer;
    background-color: rgba(105,186,226,0.4);
}

#d6-dice{
    background-image:url('/img/d6dice.png');
}

#d20-dice{
    background-image:url('/img/d20dice.png');
}

#d8-dice{
    background-image:url('/img/d8dice.png');
}

#d10-dice{
    background-image:url('/img/d10dice.png');
}

#d12-dice{
    background-image:url('/img/d12dice.png');
}

#d4-dice{
    background-image:url('/img/d4dice.png');
}

#dmulti-dice{
    background-image:url('/img/dmulti.png');
}

#dCustom-dice{
    background-image: url('/img/dCustom.png');
}

#result-text{
    font-size: 3em;
    text-align: center;
}

#resultDice{
    font-size: 10em;
    text-align: center;
}

#container-box{
    display:block;
    float: left;
    background-color:rgba(170,216,239, 0.3);
    width: 20em;
    height: 20em;
    border: 2px solid black;
}

#rollerBackground{
    background-image:url('/img/dungeon.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

#center-block{
    margin: 0 auto;
    max-width: 80%;
    padding: 0px;
    background-color: rgba(170,216,239, 0.3);
    height:100em;
}