.dice{
    display:block;
    width:20em;
    height:20em;
    /* border:1px solid red; */
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin:.2em;
    background-position:center;
}

.dice:hover{
    cursor: pointer;
    background-color: red;
}

#d6-dice{
    background-image:url('/imgSrc/d6dice.png');
}

#d20-dice{
    background-image:url('/imgSrc/d20dice.png');
}

#d8-dice{
    background-image:url('/imgSrc/d8dice.png');
}

#d10-dice{
    background-image:url('/imgSrc/d10dice.png');
}

#d12-dice{
    background-image:url('/imgSrc/d12dice.png');
}

#d4-dice{
    background-image:url('/imgSrc/d4dice.png');
}

#dmulti-dice{
    background-image:url('/imgSrc/dmulti.png');
}

#dCustom-dice{
    background-image: url('/imgSrc/dCustom.png');
}

#result-text{
    font-size: 3em;
    text-align: center;
}

#resultDice{
    font-size: 10em;
    text-align: center;
}

#container-box{
    display:block;
    float: left;
    width: 20em;
    height: 20em;
    border: 2px solid black;
}

#rollerBackground{
    background-image:url('/imgSrc/dungeon.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}