body {
	font-family: Helvetica;
	background-image: url("/img/mountain.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-attachment: fixed;
	/*removes automatically added margin that fucks with your center div*/
	margin: 0;
	/*background-color: rgba(33, 40, 68, 0.8);*/

}

h1{
	font-size:4.5vw;
	font-family: helvetica;
	color: rgb(71,100,204);
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	background-color:transparent;
	z-index:1;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	position:relative;
	margin-top:0;
	margin-bottom:.5rem;
}

h2{
	font-size:2vw;
	font-family: helvetica;
	color: rgb(250,250,240);
	padding:0 auto;
	margin: 0 auto;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

h3{	
	font-size:1rem;
	font-family: helvetica;
	color: rgb(250,250,240);
	padding:0 auto;
	margin: 0 auto;
	text-align: center;
}

h4{	
	font-size:2rem;
	font-family: helvetica;
	color: rgb(250,250,240);
	padding:0 auto;
	margin: 0 auto;
	text-align: center;
	text-shadow: 1px 1px 2px black
}
/*
#center-strip{
	height:100vh;
	width: auto;
	background-color: rgba(33, 40, 68, 0.8);
	margin: 0 auto;
}
*/

#motto{
	border-bottom: 2px solid rgb(71,100,204);
}
.header-banner{
	height: 10rem;
	display: block;

}


.header-logo{
	background-image:url('/img/evileye2.png');
	background-repeat: no-repeat;
	background-position:center;
	min-height:10rem;
	min-width: 10rem;
}

.navbar{
	height:2.1rem;
	background-color: rgba(25, 30, 53,0.9);
	padding-top: 7px;
	text-align: center;
	width:100vw;

}

.navbar-home{
	float:right;
	font-size: 1.4rem;
	color: rgb(255,255,240);
	padding-right: 1.5rem;
	font-style: italic;
	letter-spacing: .8rem;
}

.navbar-option{
	font-family: helvetica;
	color:rgb(255,255,240);
	padding-left:13px;
	padding-right:13px;	
	font-size:1.5rem;
	font-family: 'Roboto', sans-serif;

}

.navbar-option:hover{
	cursor: pointer;
	/*border-bottom:  rgb(255,255,240) solid 3px; */
	font-weight:bold;
	text-decoration: underline;
	
}

.navbar-home:hover{
	cursor: pointer;
	/*border-bottom:  rgb(255,255,240) solid 3px; */
	font-weight:bold;
	text-decoration: underline;
}

a:-webkit-any-link{
	text-decoration: none;
}

a:any-link{
	text-decoration: none;
}

.navbar-option:visited{
	text-decoration: none;
}

.divider-bar{
	height: .4rem;
	background-color:rgb(136,234,243);
	width: 100vw;
}


.body-backdrop{
	min-height: 90vh;
	max-height: 100%;
	background-color: rgba(66, 81, 138,0.5);
	padding-bottom:0px;
	margin-bottom:0px;
	width:100vw;
	z-index: 8;
	padding-top:1.5em;
}

.body-block{
	background-color: rgba(16,20,35,0.9);
	min-height: 90vh;
	max-height: 100%;
	width:80vw;
	margin: 0 auto;
	margin-bottom:0;
	padding-bottom:0;
	border-bottom: 2px solid #161b2d;
	box-shadow: inset 0px 0px 6px 0px #27496B;
}

.body-footer{
	background-color:rgb(25, 30, 53);
	height:10vh;
	width:100vw;
}

.contact-box{
	width:13em;
	height:20em;
	background-color:rgb(71,100,204);
	float:left;
	margin-left:1em;
	margin-right:1em;
	margin-bottom:1em;
	margin-top:1em;
	box-shadow: inset 0px 0px 6px 0px #27496B;
	border-radius: 7px;
	
}

.about-block{
	color:rgb(255,255,240);
	display: block;
	margin-left:2em;
	margin-right:2em;
	font-size:2em;
}

#bongo-image{
	background-image:url("/img/bongo.png");
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	width:20rem;
	height:20rem;
	margin: 0 auto;
}

.web-app-link{
	font-size: 2.5rem;
	text-align: center;
	color: rgb(255,255,240);
	margin:0 auto;
	display:block;
	float:unset;
}

.web-app-link:hover{
	cursor: pointer;
	/*border-bottom:  rgb(255,255,240) solid 3px; */
	font-weight:bold;
	text-decoration: underline;
}

.web-app-link:visited{
	text-decoration:none;
}

#mission-statement-container{
	position: relative;
	height:36rem;
	width:80vw;
	text-align: center;
	margin-right:auto;
	margin-left:auto;
	left:0;
	right:0;
}

#background-option-1{
	background-image: url("/img/logoBG.png");
	height: inherit;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	/*background-attachment: fixed;*/
	background-attachment: scroll;
	filter:blur(3.5px);
	position:absolute;
	top:0;
	left:0;
	right:0;
}
#opening-title{
	position: relative;
	color:rgb(255,255,240);
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	font-size:5rem;
	margin-top:1.6rem;
	text-decoration: bold;
	
}
#opening-subtext{
	position: relative;
	color:rgb(255,255,240);
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	font-size:4vw;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: italic;
	font-style:italic;
	text-shadow: 1px 1px 2px black
}
#who-are-you{
	position: relative;
	color:rgb(255,255,240);
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	font-size:3vw;
	padding-top:2rem;
	padding-bottom:3rem;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: italic;
	font-style:italic;
	text-shadow: 1px 1px 2px black
}

#about-image-container{
	position: relative;
	height:36rem;
	width:80vw;
	text-align: center;
	margin-right:auto;
	margin-left:auto;
	left:0;
	right:0;
}

#background-option-2{
	background-image: url("/img/logoBG2.jpg");
	height: inherit;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	/* looks cool but has a lot of issues background-attachment: fixed; */
	background-attachment: scroll;
	filter:blur(3.5px);
	position:relative;
	top:0;
	left:0;
	right:0;
	margin-top:2.5rem;
}

.opener-text{
	font-size:6vw;
	font-family: 'Roboto', sans-serif;
	color: rgb(71,100,204);
	text-align: center;
	text-shadow: 1px 1px 2px black;
	background-color:transparent;
	z-index:1;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	position:relative;
	margin-top:0;
	margin-bottom:.5rem;
	font-style:bold;
}

#employers-button{
	text-align:center;
	font-size:2rem;
	background-color:#cca447;
	border-radius:10px;
	
	width:14rem;
	height:5rem;

	margin:0 auto;
	animation:shadow-pulse 1s infinite;
}

#employers-button:hover{
	cursor:pointer;
	animation:none;
	background-color: #a07d2c;
	
}

#user-button{
	text-align:center;
	font-size:2rem;
	background-color:#cc6247;
	border-radius:10px;

	width:14rem;
	height:5rem;

	margin:0 auto;
	animation:shadow-pulse 1s infinite;

}

#user-button:hover{
	cursor:pointer;
	animation:none;
	background-color:#a0432c;
}

#home-button-wrapper{
	position:relative;
	display:flex;
	padding:20px;
}

.button-text{
	font-size:3rem;
	margin-top:.7rem;
	font-family: 'Roboto', sans-serif;
	color:rgb(255,255,240);
	text-shadow: 1px 2px 2px black;

}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(71,100,204, 0.8);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(71,100,204, 0);
  }
}

.center-strip{
	margin: 0 auto;
	min-height: 95vh;
	max-height: 100%;
	width: 70vw; 
	background-color: rgba(73, 89, 156,0.8);
	border-radius: 10px;
	/*border: 2px solid red;*/
}

.opener-text-user{
	font-size:6vw;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	background-color:transparent;
	z-index:1;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	position:relative;
	margin-top:0;
	margin-bottom:.5rem;
	font-style:bold;
}


.body-text{
	font-size:2vw;
	font-family: 'Roboto', sans-serif; 
	/* font-family: 'Montserrat', sans-serif;*/
	color: white;
	text-align: left;
	padding-left: 1.5rem;
	z-index:1;
	margin-left:auto;
	margin-right:auto;
	font-style:bold;
}

.text-container{
	background-color: transparent;
	text-align: center;
	width: 75vw;
	margin: 0 auto;
	margin-top: 10px;
}

.large-quote-text{
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	color: white;
	z-index: 1;
	margin: 0 auto;
	font-style: italic;	
}

.small-quote-text{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5vw;
	z-index: 1;
	margin: 0 auto;
	font-style: bold;
	color: #88eaf3;
	margin-top: 2rem;
}

#user{
	color: #88eaf3;
	font-style: bold;
}

.medium-green-button{
	display: inline-block;
	margin: 0 auto;
	width: 20rem;
	height: 4rem;
	background-color: green;
	border-bottom: 4px solid white;
	text-align: center;
	padding-top: 3px;
	margin-left: 4rem;
	margin-right: 4rem;
	margin-top: 2rem;
	margin-bottom: 2 rem;
	border-radius: 4px;
}

.green-button-text{
	font: 'Roboto', sans-serif;
	font-size: 2vw;
	color: white;
	text-align: center;
	position: relative;
	top:50%;
	transform:translateY(-50%);
}

.medium-green-button:hover{
	cursor: pointer;
	background-color: orange;
}

.webapps-button{
	display: block;
	margin: 0 auto;
	width: 20rem;
	height: 4rem;
	background-color: orange;
	border-bottom: 4px solid white;
	text-align: center;
	border-radius: 4px;
	margin-top:4rem;
	animation:shadow-pulse 1s infinite;

}

.webapps-button:hover{
	cursor:pointer;
	background-color: green;
}

/*work on title bar to look like what you have, make sure to realize that vw and vh make fluid shit 
and to have image be larger than text in terms of height.*/

/*add a footer with cool stuff like a terms of service and whatnot......also talk about your free webapps in about us, "caffeine and death metal, and 
contact info bar*/

/*add day and night mode style sheet thing lol */

/*dangerou info 
https://blog.jscrambler.com/the-most-effective-way-to-protect-client-side-javascript-applications/
*/