body {
	font-family: Helvetica;
	background-image: url("/img/mountain.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-attachment: fixed;
	/*removes automatically added margin that fucks with your center div*/
	margin: 0;
	/*background-color: rgba(33, 40, 68, 0.8);*/

}

h1{
	font-size:5vw;
	font-family: helvetica;
	color: rgb(71,100,204);
	padding:0 auto;
	margin: 0 auto;
	text-align: center;
	
}

h2{
	font-size:2vw;
	font-family: helvetica;
	color: rgb(250,250,240);
	padding:0 auto;
	margin: 0 auto;
	text-align: center;
	
}

h3{	
	font-size:1rem;
	font-family: helvetica;
	color: rgb(250,250,240);
	padding:0 auto;
	margin: 0 auto;
	text-align: center;
}

/*
#center-strip{
	height:100vh;
	width: auto;
	background-color: rgba(33, 40, 68, 0.8);
	margin: 0 auto;
}
*/

#motto{
	border-bottom: 2px solid rgb(71,100,204);
}
.header-banner{
	height: 10rem;
	display: block;

}


.header-logo{
	background-image:url('/img/evileye2.png');
	background-repeat: no-repeat;
	background-position:center;
	min-height:10rem;
	min-width: 10rem;
}

.navbar{
	height:1.4rem;
	background-color: rgba(25, 30, 53,0.9);
	padding-top: 3px;
	text-align: center;

}

.navbar-home{
	float:right;
	font-size: 1.4rem;
	color: rgb(255,255,240);
	padding-right: 1.5rem;
	font-style: italic;
	letter-spacing: .8rem;
}

.navbar-option{
	font-family: helvetica;
	color:rgb(255,255,240);
	padding-left:13px;
	padding-right:13px;	
}

.navbar-option:hover{
	cursor: pointer;
	/*border-bottom:  rgb(255,255,240) solid 3px; */
	font-weight:bold;
	text-decoration: underline;
	
}

.navbar-home:hover{
	cursor: pointer;
	/*border-bottom:  rgb(255,255,240) solid 3px; */
	font-weight:bold;
	text-decoration: underline;
}

a:-webkit-any-link{
	text-decoration: none;
}

.navbar-option:visited{
	text-decoration: none;
}

.divider-bar{
	height: .3rem;
	background-color:rgb(136,234,243);

}

.body-backdrop{
	min-height: 90vh;
	max-height: 100%;
	background-color: rgba(66, 81, 138,0.5);
	padding-bottom:0px;
	margin-bottom:0px;

}

.body-block{
	background-color: rgba(16,20,35,0.9);
	min-height: 90vh;
	max-height: 100%;
	width:80vw;
	margin: 0 auto;
	margin-bottom:0;
	padding-bottom:0;
	border-bottom: 2px solid #161b2d;
	box-shadow: inset 0px 0px 6px 0px #27496B;
}

.body-footer{
	background-color:red;
	height:10vh;
	width:100vw;
}

.about-block{
	color:rgb(255,255,240);
	display: block;
	margin-left:2em;
	margin-right:2em;
	font-size:2em;
}

#bongo-image{
	background-image:url("/img/bongo.png");
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	width:20rem;
	height:20rem;
	margin: 0 auto;
}

.web-app-link{
	font-size: 2.5rem;
	text-align: center;
	color: rgb(255,255,240);
	margin:0 auto;
	display:block;
	float:unset;
}

.web-app-link:hover{
	cursor: pointer;
	/*border-bottom:  rgb(255,255,240) solid 3px; */
	font-weight:bold;
	text-decoration: underline;
}

.web-app-link:visited{
	text-decoration:none;
}

#cute-boy{
	width: 25em;
	height: 25em;
	float:right;
	margin-right: 1em;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}


/*work on title bar to look like what you have, make sure to realize that vw and vh make fluid shit 
and to have image be larger than text in terms of height.*/

/*add a footer with cool stuff like a terms of service and whatnot......also talk about your free webapps in about us, "caffeine and death metal, and 
contact info bar*/