#web-apps-title{
    font-family:'Roboto', sans-serif;
    font-size: 8rem;
    color:rgb(255,255,240);
    text-shadow: 1px 1px 2px black;
    margin: 0 auto;
    text-align:center;
}

#dice-box{
    background-image: url("/img/dice-roller-logo.png");
    display:flex;
    height:20rem;
    /* border:1px solid red; */
    background-size: contain;
    background-repeat: no-repeat;
    margin:.2em;
    background-position:center;
    /* This is for centering the items containined in the div */
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
    
}

#dice-box:hover{
    cursor: pointer;
    background-color:rgba(94, 121, 212,0.3)

}

#dice-roller-text{
    font-family:'Roboto', sans-serif;
    font-size: 4rem;
    color:rgb(255,255,240);
    position:relative;
    margin-top:auto;
    margin-bottom: auto;
    top:0;
    bottom:0;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

/*merge this with the main stylesheet when it is done */